<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="//cdn.zhaolinlang.com/cdn.dnpw.org/project/404/0/common/404.css"/>
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <title>云社区-404</title>
</head>
<body>
<div class="nk-container">

    <!-- 内容 -->
    <div class="main">
        <section class="collage-404">
            <h1>404</h1>
            <div class="collage-404-images">
            </div>
        </section>
        <section class="message-404">
            <h1>页面找不到或已被删除</h1>
            <p>
                Oops,Page not found or deleted <a id="color-choice"></a>
            </p>
        </section>
        <div class="explore-cta">
            <div>
                <a th:href="@{/index}" target='_self' class="back">返回首页</a>
                <input class="color-range">
            </div>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="//cdn.zhaolinlang.com/cdn.dnpw.org/project/404/0/common/404.js"></script>
<script th:src="@{/js/global.js}"></script>
</body>
</html>
